@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: "Geist Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #ffffff;
  --foreground: #051513;

  --card: #ffffff;
  --card-foreground: #051513;

  --popover: #ffffff;
  --popover-foreground: #051513;

  --primary: #014745;
  --primary-foreground: #ffffff;

  --secondary: #e8f0ef;
  --secondary-foreground: #051513;

  --muted: #dde9e7;
  --muted-foreground: #4c5c59;

  --accent: #e8f0ef;
  --accent-foreground: #051513;

  --destructive: #fd4740;
  --destructive-foreground: #ffffff;

  --border: #d0cfcc;
  --input: #d0cfcc;
  --ring: #014745;

  --chart-1: #014745;
  --chart-2: #4c5c59;
  --chart-3: #899492;
  --chart-4: #d0cfcc;
  --chart-5: #dde9e7;

  --radius: 0.75rem;

  /* Sidebar */
  --sidebar: #e8f0ef;
  --sidebar-foreground: #051513;

  --sidebar-primary: #014745;
  --sidebar-primary-foreground: #ffffff;

  --sidebar-accent: #dde9e7;
  --sidebar-accent-foreground: #051513;

  --sidebar-border: #d0cfcc;
  --sidebar-ring: #014745;
}

.dark {
  --background: #001414;
  --foreground: #ffffff;

  --card: #001f1f;
  --card-foreground: #ffffff;

  --popover: #001f1f;
  --popover-foreground: #ffffff;

  --primary: #00706e;
  --primary-foreground: #ffffff;

  --secondary: #002e2d;
  --secondary-foreground: #ffffff;

  --muted: #002e2d;
  --muted-foreground: #b1b9b9;

  --accent: #004241;
  --accent-foreground: #ffffff;

  --destructive: #cb0a04;
  --destructive-foreground: #ffffff;

  --border: #004746;
  --input: #004746;
  --ring: #00706e;

  --chart-1: #00706e;
  --chart-2: #004746;
  --chart-3: #004241;
  --chart-4: #002e2d;
  --chart-5: #001f1f;

  /* Sidebar */
  --sidebar: #001f1f;
  --sidebar-foreground: #ffffff;

  --sidebar-primary: #00706e;
  --sidebar-primary-foreground: #ffffff;

  --sidebar-accent: #002e2d;
  --sidebar-accent-foreground: #ffffff;

  --sidebar-border: #004746;
  --sidebar-ring: #00706e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
